apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: backend-secret
  namespace: deuseda
spec:
  template:
    metadata:
      name: backend-secret
      namespace: deuseda
    type: Opaque
  encryptedData:
    jwt-secret: PLACEHOLDER
    database-url: PLACEHOLDER
