apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: postgres-secret
  namespace: deuseda
spec:
  template:
    metadata:
      name: postgres-secret
      namespace: deuseda
    type: Opaque
  encryptedData:
    postgres-password: PLACEHOLDER
